@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.events-section {
    overflow: hidden;
}
.events-section .header-title {
    font-family: 'Fredericka the Great', cursive;
}


.events-section .events-carousel-container {
    width: 100%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
    padding-top: 2em;
}
.events-section .events-carousel-container .carousel {
    width: 33.33%;
    background-color: #fafafa;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    text-align: center;
    transition: 300ms;
}
.events-section .events-carousel-container .carousel .carousel-overlay {
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
}

.events-section .events-carousel-container .mid {
    background: #ffffff;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scale(1.3);
    z-index: 1;
}
.events-section .events-carousel-container .carousel img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.events-section .pagination {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.events-section .pagination .dot {
    height: 0.7em;
    width: 0.7em;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.3em ;
}
.events-section .pagination .dot:hover {
    background-color: gold;
    transform: scale(1.3);
}
.events-section .pagination .dot.active {
    background-color: gold;
}



@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .events-section .header-sub {
        padding-bottom: 0;
    }
    .events-section .events-carousel-container .first,
    .events-section .events-carousel-container .last {
        display: none;
    }
    .events-section .events-carousel-container .mid {
        width: 100%;
    }
    .events-section .pagination {
        padding-top: 3em;
    }

 }

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .events-section .header-sub {
        padding-bottom: 0;
    }
    .events-section .events-carousel-container .first,
    .events-section .events-carousel-container .last {
        display: none;
    }
    .events-section .events-carousel-container .mid {
        width: 100%;
    }

 }
 @media only screen and (max-device-width: 768px) {
    /* styles for mobile browsers smaller than 768px; */
    .events-section .header-sub {
        padding-bottom: 2em;
    }
    .events-section .events-carousel-container .first,
    .events-section .events-carousel-container .last {
        display: none;
    }
    .events-section .events-carousel-container .mid {
        width: 70%;
    }
    .events-section .pagination {
        padding-top: 4em;
    }
    .events-section .events-carousel-container .carousel img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

 @media only screen and (device-width: 768px) {
    /* default tablet and iPad screens */
    .events-section .header-sub {
        padding-bottom: 2em;
    }
    .events-section .events-carousel-container .first,
    .events-section .events-carousel-container .last {
        display: none;
    }
    .events-section .events-carousel-container .mid {
        width: 70%;
    }
    .events-section .events-carousel-container .carousel img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }   
    .events-section .pagination {
        padding-top: 5em;
    }

 }
 
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
     .events-section .header-sub {
        padding: 0 10em;
    }

 }
 
 @media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
 }