#header-navbar{
    transition: background-color 0.5s;
    /* height: 110px; */
}
.header-navscroll{
    background-color: #ffd700;
}
.header-nav{
    font-weight: 700;
    color: #000;
}
.header-caption{
    text-align: end;
    margin-top: 11px;
}
.header-caption-1{
    text-align: start;
    font-size: 45px;
}

.header-heading-2 {
    font-size: 60px;
  }
    
  .header-heading-2, .header-caption-1 {
    font-family: 'Fredericka the Great', cursive;
  }
  .header-subheading{
    font-weight: bolder;
    font-family: 'FontAwesome';
    font-size: 15px;
  }
  
  .align-items-center{
    text-align: center;
  }
  
  .header-heading-1 {
    font-family: 'Cookie', cursive;
  }
  .header-phone-img img {
    height: 4em;
}
.navbar-nav ul li .nav-link {
  font-size: 2em;
}
  

@media only screen and (max-device-width: 360px) {
    /* styles for mobile browsers smaller than 360px; */
    .navbar-brand img{
      height: 80px;
    }
 }

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; */
    .navbar-brand img{
      height: 80px;
    }
 }
 
 @media only screen and (device-width: 768px) {
    /* default tablet and iPad screens */
 }
 
 @media only screen and (min-width: 960px) {
     /* styles for browsers larger than 960px; */
 }
 
 @media only screen and (min-width: 1200px) {
     /* styles for browsers larger than 1200px; */
 }